@font-face {
  font-family: "bricolage";
  src: url("/fonts/bricolage.woff2") format("woff2");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "bricolage", fantasy;
  padding: 20px;
}
